@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root{
   --body-bg:#18181B;
   --cinza10-bg:#101010;
   --cor-principal: #00ffff;
   --cor-hover:#7fffd4;
   --color-font:#fff;
   --color-card:#27272a;
   --color-card-hover:#323232;
   --colorParagrafo: #ccc;
}
.lightmode:root{
   --body-bg:#eee ;
   --cinza10-bg:#101010;
   --cor-principal: #00ffff;
   --cor-hover:#7fffd4;
   --color-font:#101010;
   --color-card:#ccc;
   --color-card-hover:#ddd;
   --colorParagrafo: #101010;
}


::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-thumb {
    background-color: var(--cor-principal);
    border-radius: 3px; 
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: var(--cor-hover);
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: var(--cinza10-bg);
}


nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

body{
   background-color: var(--body-bg);
}
.theme-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

.theme-toggle label {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.theme-toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cor-principal);
    transition: 0.4s;
    border-radius: 10px;
    border: 1px solid var(--cinza10-bg);
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: var(--body-bg) ;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--cor-principal);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.nav-logo {
    max-width: 130px;
    
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 1rem;
    color: var(--color-font);

    }



.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: var(--color-font);
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--cor-principal);
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn-header{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--cinza10-bg);
    background-color: var(--cor-principal);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: var(--cinza10-bg);
    background-color: var(--cor-principal);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--cor-hover);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.container .projects {
   max-width: 1200px;
   margin: auto;
   padding: 5rem 2rem;
}



.blur {
    box-shadow: 0 0 1000px 50px var(--cor-principal);
    position: absolute;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}


header .content h4 {
    margin-top: 1rem;
    color: var(--color-font);
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: var(--color-font);
    margin-bottom: 1rem;
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--color-font);
}

header .content p {
    margin-bottom: 2rem;
    color: var(--colorParagrafo);
}

header .image img {
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: var(--color-font);
    text-align: center;
    font-size: 2.23rem;
    font-weight: 600;
}
.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: var(--color-card);
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    max-width: 8rem;
    min-height: 8rem;
}

.features .card:hover {
    background-color: var(--color-card-hover);
    border-color: var(--color-font);
}

.features .card span {
    display: block;
    background-color: var(--cor-principal);
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: var(--cinza10-bg);
    border-radius: 5px;
    text-align: center;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: var(--color-font);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.features .card p {
    color: var(--colorParagrafo);
    margin-bottom: 1rem;
}

.features .card a {
    color: var(--color-font);
    transition: all 0.3s ease;
}

.features .card a:hover {
    color: var(--cor-hover);
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: var(--colorParagrafo);
}

.project {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.btn-project{
    padding: 1rem 6.2rem;
    font-size: 1rem;
    color: var(--cinza10-bg);
    background-color: var(--cor-principal);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: 600;
}


.project .card {
    padding: 3rem 2rem;
    background-color: var(--color-card);
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.project .card:hover {
    background-color: var(--color-card-hover);
    border-color: var(--color-font);
}

.project .card .content {
    flex: 1;
    margin-bottom: 2rem;
}

.project .card h4 {
    margin-bottom: 1rem;
    color: var(--color-font);
    font-size: 1.2rem;
    font-weight: 500;
}

.project .card h3 {
    color: var(--color-font);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed var(--color-font);
}

.project .card p {
    color: var(--colorParagrafo);
    margin-bottom: 0.75rem;
}

.project .card p i {
    color: var(--colorParagrafo);
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.project .card button {
    color: var(--cinza10-bg);
    background-color: var(--cor-principal);
    border: 1px solid var(--cor-hover);
}

.project .card button:hover {
    background-color: var(--cor-hover);
    border-color:var(--cor-hover);
}

footer{
   position: relative;
   display: grid;
   grid-template-columns: 400px repeat(3,1fr);
   gap: 2rem;
}

footer .column h1{
   margin-bottom: 2rem;
   color: var(--color-font);
}

footer .column p{
   color: var(--colorParagrafo);
   margin-bottom: 2rem;
}

footer .column .socials{
   display: flex;
   align-items: center;
   gap: 1rem;
}

footer .column .socials a{
   color: var(--color-font);
   border: 1px solid var(--colorParagrafo);
   padding: 5px 10px;
   font-size: 1.25rem;
   border-radius: 100%;
   transition: all 0.3 ease;
}

footer .column .socials a:hover{
   color: var(--color-font);
   background-color: var(--cor-principal);
   border-color: var(--cor-principal);
}


[data-anime]{
   opacity: 0;
   transition: all 0.3s ease;
}

[data-anime="left"]{
   transform: translate3d(-50px,0,0);

}

[data-anime].animate{
   opacity: 1;
   transform: translate3d(0,0,0);
}
@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
    header {
        grid-template-columns: repeat(1, 1fr);
    }
    header .image {
        grid-area: 2/1/2/2;
    }
    .content p,a{
        margin-left: 1rem;
        flex-wrap: wrap;
    }
    .features {
        grid-template-columns: repeat(2, 1fr);
    }
    .features .card {
        max-width: 8rem;
        min-width: 8rem;
    }
    .project {
        grid-template-columns: repeat(1, 1fr);
    }
    .project a{
    padding: 0.9rem 1rem;
    }
    footer{
      flex-wrap: wrap;
      max-width: 200px;
    }
    footer p,h1{
        padding-left: 1rem;
    }
}

@media (max-width: 600px) {
    header .image::before {
        display: none;
    }
    .content p,a{
        margin-left: 1rem;
        flex-wrap: wrap;
    }
    .features {
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 0.40fr);
    }
    .features .card {
        max-width: 8rem;
        min-width: 8rem;
    }
    .project {
        grid-template-columns: repeat(1, 1fr);
    }
    .project a{
    padding: 0.9rem 1rem;
    }
    footer{
      flex-wrap: wrap;
      max-width: 311px;
    }
    footer  .column{
      max-width: 311px ;
    }
    footer p,h1{
        padding-left: 1rem;
    }
}

